INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/creating_themes/*/*.mo
doc/creating_themes/*/*.xml
doc/creating_themes/*/*.docbook
doc/creating_themes/*/*.stamp
doc/creating_themes/Makefile
doc/creating_themes/Makefile.in
doc/man/Makefile
doc/man/Makefile.in
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
po/*.gmo
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/.deps/
src/.libs/
src/50-metacity-launchers.xml
src/50-metacity-navigation.xml
src/50-metacity-screenshot.xml
src/50-metacity-system.xml
src/50-metacity-windows.xml
src/Makefile
src/Makefile.in
src/*.o
src/inlinepixbufs.h
src/libmetacity-private.la
src/libmetacity-private.pc
src/libmetacity_private_la-boxes.lo
src/libmetacity_private_la-gradient.lo
src/libmetacity_private_la-preview-widget.lo
src/libmetacity_private_la-theme-parser.lo
src/libmetacity_private_la-theme.lo
src/libmetacity_private_la-util.lo
src/metacity
src/metacity-theme-viewer
src/metacity-wm.desktop
src/metacity.desktop
src/org.gnome.metacity.gschema.valid
src/org.gnome.metacity.gschema.xml
src/schema_bindings
src/testasyncgetprop
src/testboxes
src/testgradient
src/themes/Makefile
src/themes/Makefile.in
src/tools/.deps/
src/tools/Makefile
src/tools/Makefile.in
src/tools/metacity-grayscale
src/tools/metacity-grayscale.o
src/tools/metacity-mag
src/tools/metacity-mag.o
src/tools/metacity-message
src/tools/metacity-message.o
src/tools/metacity-window-demo
src/tools/metacity-window-demo.o
src/ui.o
src/util.o
src/window-props.o
src/window.o
src/wm-tester/.deps/
src/wm-tester/Makefile
src/wm-tester/Makefile.in
src/wm-tester/focus-window
src/wm-tester/focus-window.o
src/wm-tester/main.o
src/wm-tester/test-gravity
src/wm-tester/test-gravity.o
src/wm-tester/test-resizing
src/wm-tester/test-resizing.o
src/wm-tester/test-size-hints
src/wm-tester/test-size-hints.o
src/wm-tester/wm-tester
src/workspace.o
src/xprops.o
stamp-h1
xmldocs.make
